name: Main

on:
  push:
    branches:
      - main

# These environment variables are used in the image builder script used to
# build Docker images
env:
  PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PACKAGES_USERNAME: ${{ github.actor }}
  REPO_NAME: ${{ github.event.repository.name }}
  TYPE: ${{ github.event_name }}                  # Event type (push or schedule) (so image_builder doesn't push images to GHCR on schedule)

jobs:

  build-publish-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build image, test it, push it to GHCR, notify dependents
        run: ./pipe_build_up_test.sh